@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img class="img-thumbnail img-responsive" src="@Url.Content("~/img/banner.jpg")" />
    <iframe width="560" height="315" src="https://www.youtube.com/embed/pRqrieW9vbc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
</div>

<div class="row">
    <div class="col-md-4">
       <h2>Điện Máy Quyết Tiến, Tiền cũng có. Nhanh chân đến ngay!</h2>
    </div>
</div>