@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img class="img-thumbnail img-responsive" src="@Url.Content("~/img/banner.jpg")" />
</div>

<div class="row">
    <div class="col-md-4">
       <h2>Điện Máy Quyết Tiến, Tiền cũng có. Nhanh chân đến ngay!</h2>
    </div>
</div>